<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esse sistema é muito bom neh?</title>
</head>
<body>
    <h1>Welcome to the jungle</h1>
    <h2>asdasdzx cxzxcasd asd asd asd asd </h2>
    <span>Usuário logado: </span>
    <span th:text="${usuarioLogado}"> </span>

    <h2>Menu</h2>
    <a th:href="@{/admin/cliente/cadastrar}">Cadastrar Cliente</a>
    <br>
    <a th:href="@{/admin/cliente/listar}">Listar Clientes</a>
    <br>
    <a th:href="@{/admin/unidade/cadastrar}">Cadastrar unidades</a>
    <br>
    <a th:href="@{/admin/unidade/listar}">Listar unidade</a>

</body>
</html>